 <section>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <%= image_tag("fam1.jpg", :alt => "First Slide", :class => "d-block w-100") %>
		        <div class="carousel-caption d-none d-md-block">
		        	<div class="box">
					    <h1><b>시간 2봉지</b></h1>
					    <p class="box-text">#추억 #타임캡슐 #언제 받을지 애타겠지? <br>
					    #응~그 맛이야 #엄마 보고싶어 <br>#엄마 제육볶음 먹고싶어</p>
					</div>
				 </div>
		    </div>
		    <div class="carousel-item">
		      <%= image_tag("fam2.jpg", :alt => "Second Slide", :class => "d-block w-100") %>
		        <div class="carousel-caption d-none d-md-block">
		        	<div class="box">
					    <h1><b>시간 2봉지</b></h1>
					    <p class="box-text">#미리 글 올리고 어버이 날에 열리게 하면 <br>#부모님 #개감동 #인정? 어 인정
						<br>#이번엔 아빠 보고싶어 <br>#아빠 건담 로봇 사주세요</p>
					</div>
				 </div>
		    </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
    </section>
    <!-- Carousel -->
    <!-- Carousel -->
    <!-- Carousel -->
	<main class="container">
	</main>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">
          <a href="https://www.facebook.com/likelion.net/"><img class="sns" src="http://tamarac.org/ImageRepository/Document?documentID=5678"></a>
          <a href="https://www.instagram.com/explore/tags/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC/?hl=ko"><img class="sns" src="https://images-na.ssl-images-amazon.com/images/I/71VQR1WetdL.png"></a>
        </span><br>
        <span class="text-muted">LikeLion 6th 2018 Newbiethon</span><br>
        <span class="text-muted">가정의달 5팀 이민아 강연우 이혜진 김세윤 한현수 조민국</span>
      </div>
    </footer>