<main role="main">
  <div class="text-center album py-5">
    <h1><b>게시글 수정하기</b></h1>
    <p>
    내용 수정이 완료되면 <strong>작성</strong> 버튼을 눌러주세요.</p>
    <%= render 'form' %>
    
    <%= link_to '보기', @post %> |
    <%= link_to '뒤로가기', posts_path %>
  </div>
</main>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">LikeLion 6th 2018 Newbiethon</span><br>
        <span class="text-muted">가정의달 5팀 이민아 강연우 이혜진 김세윤 한현수 조민국</span>
      </div>
    </footer>