<main role="main">
  <div class="text-center album py-5">
    <div class="container col-12">
      <h1><b>새 추억 기록하기</b></h1>
      <p>오래도록 보관하고 싶은 당신의 추억을 기록하세요!</p>
      <%= render 'form' %>
      <%= link_to '뒤로가기', posts_path %>
    </div>
  </div>
</main>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">LikeLion 6th 2018 Newbiethon</span><br>
        <span class="text-muted">가정의달 5팀 이민아 강연우 이혜진 김세윤 한현수 조민욱</span>
      </div>
    </footer>